.details{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    list-style: none;
    color: white;
    background-color: rgba(10, 9, 48, 0.379);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &__list{
        list-style: none;
        text-align: center;
    }

    &__photo{
        max-height: 280px;
        max-width: 350px;
        border-radius: 8px;
    }


    &__name{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    &__altname{
        font-style: italic;
        padding-bottom: 20px;
    }

    &__wrapper{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }

    &__data{
        line-height: normal;
        text-align: left;
    }

    &__badge{
        background-image: url(../../images/hog.png);
        width: 90px;
        height: 90px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }


    &__back{
        width: 100px;
        background-color: white;
        padding: 15px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 5px;
        font-weight: bold;
    }
}